{% block content %}
    <H2>{{ data.race }} {{ data.class }}</H2>
    <div><p>abilities: {{ ', '.join(data.abilities) }}</p></div>

    <h3>icons</h3>
    {% for icon in data.icons %}
    <div><p>{{ icon[0] }}: {{ icon[1] }}, {{ icon[2] }}</p></div>
    {% endfor %}

    <h3>possible backgrounds</h3>
    {% for background in data.backgrounds %}
    <div><p>{{ background }}</p></div>
    {% endfor %}    

    <h3>as json</h3>
    <div><p>{{ as_json }}</p></div>

    <h3>links</h3>
    <div><a href="/generate/raw">api (will load new char)</a></div>
    <div><a href="https://13thagesrd.com">13th Age SRD</a></div>
    <div><a href="https://www.reddit.com/r/13thage/">subreddit</a></div>
    <div><a href="https://discord.gg/Bz9DA25">discord server</a></div>
    <div><a href="http://13thage.org/index.php">vault, user content and such</a></div>
    <div><a href="http://13thage.org/index.php/icon-zine">fanzine</a></div>
    <div><a href="https://iconicpodcast.com/">iconic podcast - a podcast about all things 13th age</a></div>
    <div><a href="http://jaredstander.com/13thagepointbuy/13thagepointbuy.html">point buy mathing</a></div>
    <div><a href="https://foundry-vtt-community.github.io/wiki/Community-Game-Systems/#13th-age-system-archmage">Foundry - virtual game system tool</a></div>

{% endblock %}
